* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.maincontainer {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.searchSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input[type='text'] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.resultsSection {
  display: grid;
  gap: 20px;
}

.container {
  margin-bottom: 20px;
}

.cityName {
  text-align: center;
}

.coordinates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.latitude,
.longitude {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin-bottom: 10px;
}

span {
  font-size: 24px;
}
